@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Noto+Serif+JP&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Crimson Text','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN','Noto Serif JP', serif;
	/* @see: https://www.attend.jp/html_170713 */
	/* TODO: 全体動くようにしてから消す */
	/* min-width: 1180px; */
	box-sizing: border-box;
	background-color: #fff;
}

/* TODO: 崩れているところは直す */
img {
	width: 100%;
	height: auto;
}

.h_logo {
	width: 60%;
}

/* 共通ヘッダー */
header {
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	box-sizing: border-box;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,.4);
	line-height: 50px;
	padding: 10px 15px;
	z-index: 100;
}

header img {
	vertical-align: bottom;
}

header .g_nav {
	margin-left: auto;
}

.g_nav ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}

.g_nav ul li {
	text-align: center;
	line-height: 1.2;
	font-size: 1.1em;
	padding: 15px 10px;
}

.g_nav li a {
	text-decoration: none;
	padding: 5px 0;
}

.g_nav li a::after {
  border-bottom: solid 1px #706060;
  bottom: -20px;
  content: "";
  display: block;
  transition: all .5s ease;
  -webkit-transition: all .3s ease;
  width: 0;
}

.g_nav li a:link, .g_nav li a:visited {
	color: #706060;
}

.g_nav li a:hover {
	color: #706060;
}

.g_nav li a:hover::after {
  width: 100%;
}

/* 共通設定 */

.wrapper {
	/* width: 1020px; */
	width: 91.525%;
	max-width: 1020px;
	background-color: #fff;
	padding: 30px 0;
	margin: 0 auto;
	overflow-x: hidden;
}

.wrapper section {
	margin: 0 auto;
	text-align: center;
	line-height: 2.2;
}

/* sp用のUIは隠す */
.menu_btn {
	display: none;
}
.sp_menu {
	/*最背面*/
	position:fixed;
	z-index: -1;
	opacity: 0;
	top:0;
	width:100%;
	height: 100vh;
	background:#999;
	transition: opacity 0.5s;
}

/* FIXME: 画面更新時にスタイリングなしのリストがちらつくことがあるのでspじゃなくてもスタイリングした状態にしておくことにした 要調査 */
.sp_menu ul {
	display: none;
	position: absolute;
	z-index: 999;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.sp_menu li{
	list-style: none;
	text-align: center; 
}

.sp_menu li a{
	color: #333;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
	font-size: 1.4rem;
}

.f_wrapper {
	/* width: 760px; */
	width: 64.406%;
	text-align: center;
	padding: 30px 10.784%;
	margin: 0 auto;
}

.base_btn {
	text-decoration: none;
	display: block;
	background-color: #333;
	color: #fff;
	font-size: 1em;
	text-align: center;
	line-height: 46px;
}

.base_btn:hover {
	opacity: .6;
}

/* 共通フッター */
footer {
	width: 100%;
	color: #fff;
	/* 色付きグラデーション */
	background:linear-gradient(130deg, #d299c2, #a6c0fe, #f68084);
	background-size: 200% 200%;
	animation: bggradient 20s ease infinite;
}

@keyframes bggradient{
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.f_logo {
	margin: 0 auto;
	width: 14.473%;
	min-width: 110px;
	fill: #fee;
	mix-blend-mode: screen;
	margin-bottom: 1.2rem;
}

.sns_label {
	font-family: 'Calibri','Helvetica','Avenir','Arial', sans-serif;
	color: #333;
	text-align: center;
	letter-spacing: .2em;
	font-size: .8em;
	margin-bottom: .5em;
}

.sns_links {
	/* width: 240px; */
	width: 31.578%;
	list-style-type: none;
	margin: 0 auto .7em;
	display: flex;
	justify-content: space-between;
}

.sns_links li {
	/* width: 50px; */
	width: 20.833%;
	border-radius: 50%;
	text-align: center;
	line-height: 50px;
	font-size: 2em;
	transition: .7s;
}

.sns_links li a {
	text-decoration: none;
	display: block;
}

.sns_links li:last-child {
	margin-right: 0;
}

.sns_links li:hover {
	opacity: .8;
}

.sns_links li a:link, .sns_links li a:visited {
	color: #333;
}

.sns_links li.twitter a:hover {
	color: #55acee;
}

.sns_links li.instagram a:hover {
	color: #c6529a;
}

.sns_links li.facebook a:hover {
	color: #3b5998;
}

.f_nav ul {
	list-style-type: none;
	/* width: 630px; */
	width: 82.894%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto .7em;
}

.f_nav li {
	text-align: center;
	line-height: 1.2;
	padding: 15px 10px;
	float: left;
}

.f_nav li a {
	text-decoration: none;
}

.f_nav li a:link, .f_nav li a:visited {
	color: #333;
}

.f_nav li a:hover {
	opacity: .6;
}

.shop_info {
	/* width: 695px; */
	width: 91.447%;
	margin: 0 auto 50px;
	display: flex;
	justify-content: space-around;
}

.shop_text {
	/* width: 305px; */
	width: 43.884%;
	text-align: left;
}

.address {
	color: #333;
	font-size: .9em;
	margin-bottom: 4.918%; /*15/305*/
}

.biz_hour {
	color: #333;
	font-size: .9em;
	margin-bottom: 8.196%; /* 25/305 */
}

.tel {
	color: #333;
	font-size: 1.6rem;
	text-align: center;
	letter-spacing: .3em;
	margin-bottom: 6px;
}

.contact {
	background: #333;
	text-align: center;
	padding: 10px 20px;
}

.contact a {
	text-decoration: none;
}

.contact:hover {
	opacity: .6;
}

.contact a:link, .contact a:visited {
	color: #fff;
}

#page_top {
    position: fixed;
    right: 10px;
    bottom: 25px;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    transform: rotate(90deg);
    font-size: .9em;
    line-height: 1.5rem;
    color: #333;
    padding: 0 0 0 35px;
    border-top: solid 1px;
}
#page_top::before {
    content: "";
    display: block;
    position: absolute;
    top: -1px;
    left: 0px;
    width: 15px;
    border-top: solid 1px;
    transform: rotate(35deg);
    transform-origin: left top;
}

small {
	color: #170A0B;
	margin-bottom: 1em;
}

.copyright {
	display: inline-block;
}

.copyright::after {
	display: inline-block;
	content: "|";
	margin: .5em;
}

small a:link, small a:visited {
	text-decoration: none;
	color: #170A0B;
}

small a:hover {
	text-decoration: underline;
	color: #170A0B;
}

/* 個別設定 */

.slider li {
	list-style-type: none;
  /* background-imageは個別設定する*/
	display: block;
	/* width: 1200px; */
	width: 100vw;
	height: 100vh;
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
}

.slider .main_01 {
	background-image: url("../img/main_01.jpg");
}

.slider .main_02 {
	background-image: url("../img/main_02.jpg");
}

/* 動的に付与するクラス */
.slide-animation {
	animation: fadezoom 10s forwards;
}

.slide_area {
	position: relative;
	top: 0;
	overflow: hidden;
	margin-bottom: 55px;
}

.concept .concept_text {
	/* width: 370px; */
	width: 31.355%;
	padding: 0 65px;
	position: absolute;
	top: 50vh;
	transform: translateY(-50%);
	right: 5%;
	color: rgb(120,10,10);
	text-align: right;
	text-shadow: 0px 0px 10px rgba(255,255,255,1);
	/* 画像に合わせる */
	animation: fade-text 10s forwards;
}

.concept .concept_text h2 {
	font-size: 2em;
	line-height: 1.6;
	font-weight: bold;
	letter-spacing: .25em;
	margin-bottom: 2.5em;
}

.concept .concept_text .detail {
	font-size: 1.2em;
	line-height: 2.5;
	font-weight: bold;
	margin-bottom: 2.5em;
}

.concept .concept_text .signature {
	font-size: 1em;
}

.concept .concept_text p {
	display: block;		
}

.scenes h2, .variety h2, .event h2 {
	font-size: 2em;
	letter-spacing: .1rem;
	text-align: center;
	margin-bottom: 10.784%; /*110/1020px*/
}

.news h2 {
	letter-spacing: .1rem;
	font-size: 2em;
}

.scene_text h3 span {
    position: relative;
    border-bottom: 1px solid #000;
    color: #000;
    text-align: center;
		font-size: 1.5rem;
		padding-top: 4.958%; /*30/605*/
    padding-bottom: 1.652%; /*10/605*/
}

.scene_text h3 {
	margin-bottom: 18.378%;/* 68/370 */
}

.scene_text h3 span:after {
	border: 10px solid transparent;
	border-top-color: #000;
	border-bottom-width: 0;
	bottom: -10px;
	transform: translateX(-50%);
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	width: 0;
}

.scene_text .formatted_text {
	line-height: 2.2;
	margin-bottom: 10px;
}

.scene_text .formatted_text span {
	display: block;
}

.scenes section {
	margin-bottom: 29.411%; /*300/1020*/
	display: flex;
	justify-content: center;
}

.scene_img_box {
	position: relative;
	/* width: 565px; */
	width: 74.342%;
}

.scene_img_box::after {
	content: "";
	display: block;
	padding-top: 100.892%;
}

.scene_img {
	position: absolute;
	/* width: 565px; */
	width: 100%;
	padding-top: 100.892%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 10;
}

#scene_1 .scene_img {
	background-image: url("../img/scene_01.jpg");
}

#scene_2 .scene_img {
	background-image: url("../img/scene_02.jpg");
}

#scene_2 {
	flex-direction: row-reverse;	
}

#scene_3 .scene_img {
	background-image: url("../img/scene_03.jpg");
}

.scenes section .scene_text {
	/* width: 305px; */
	width: 40.131%;
	text-align: center;
	padding: 6.372%; /*65px/1020px*/
}

.scene_img .subtitle_bk {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.scene_img .subtitle_bk:after {
	/* contentはsceneごとに変化 */
	position: absolute;
	bottom: 5.309%; /* 30/565 */
	left: 23.008%; /* 130/565 */
	color: #d4d9dc;
	font-size: 4.8rem;
	white-space: nowrap;
	z-index: -1;
}

#scene_2 .subtitle_bk:after {
	left: auto;
	right: 23.008%; /* 130/565 */
}

.scene_img .subtitle_fr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-shadow: 0 0 15px rgba(99,99,99,.4);
}

.scene_img .subtitle_fr:after {
  /* contentはsceneごとに変化 */
	position: absolute;
	bottom: 5.309%; /* 30/565 */
	left: 23.008%; /* 130/565 */
	color: #fff;
	font-size: 4.8rem;
	white-space: nowrap;
	z-index: 1;
}

#scene_1 .subtitle_fr:after, #scene_1 .subtitle_bk:after {
	content: "Scene 1: As a gift";
}

#scene_2 .subtitle_fr:after, #scene_2 .subtitle_bk:after {
	content: "Scene 2: As a part of the art";
	left: auto;
	right: 23.008%; /* 130/565 */
}

#scene_3 .subtitle_fr:after, #scene_3 .subtitle_bk:after {
	content: "Scene 3: As an interior";
}

section.variety {
	margin-bottom: 29.411%;/*300px;*/
}

#var_text p {
	line-height: 2.2;
	margin-bottom: 6px;
}

#var_text {
	/* width: 370px; */
	width: 36.274%;
	position: absolute;
	bottom: 14%;/*170px*/
	left: 8.823%;/*90/1020px*/
}

.var_wrap {
	position: relative;
}

.var_imgs {
	/* width: 100%; */
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
}

.var_1 {
	/* width: 610px; */
	width: 59.803%;
	background-color: #0ff;
	background: no-repeat url("../img/var_1.jpg");
	background-position: center;
	background-size: cover;
}

.var_1::before {
	content: '';
	display: block;
	padding-top: 78.688%;/*480/610*/
}

.var_2 {
	/* width: 305px; */
	width: 29.901%;
	margin-left: 5.882%; /*60/1020*/
	margin-top: 23.529%; /*240/1020*/
	background: no-repeat url("../img/var_2.jpg");
	background-position: center;
	background-size: cover;
}

.var_2::before {
	content: '';
	display: block;
	padding-top: 150.819%; /*460/305*/
}

.var_3 {
	background: no-repeat url("../img/var_3.jpg");
	/* width: 240px; */
	width: 23.529%;
	margin-top: -4.901%; /*50/1020*/
	margin-left: 24.509%; /*250/1020*/
	background-position: center;
	background-size: cover;
}

.var_3::before {
	content: '';
	display: block;
	padding-top: 141.666%; /*340/240*/
}

section.event {
	position: relative;
	text-align: center;
	margin-bottom: 9.803%;/*100/1020*/
	z-index: 1;
}

.with_shadow {
	position: relative;
	width: 49.019%; /*500px/1020px*/
	background-color: #fff;
	margin: 0 auto 7.843%; /*80/1020*/
	background: no-repeat url("../img/eventspace.jpg");
	/* FIXME: ブレークポイントより小さいとき表示サイズによっては画像の解像度の方が低い */
	background-size: cover; 
}

.preparing {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.4);
	display: flex;
	justify-content: center;
	align-items: center;
}

.with_shadow .preparing p {
	color: white;
	font-size: 1.6em;
	line-height: 50px;
	letter-spacing: .5em;
}

.rent_space .preparing p {
	color: white;
	font-size: 1.4em;
	line-height: 40px;
	letter-spacing: .4em;
}

.preparing p span {
	display: block;
	font-size: 1rem;
	line-height: 30px;
}

.with_shadow::before {
	content: "";
	display: block;
	padding-top: 72%; /* 360/500 */
}

.with_shadow::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 20px;
	left: 20px;
	z-index: -10;
	background-size: 6px 6px;
	background-image: linear-gradient(45deg, #999 5%, transparent 5%, transparent 50%, #999 50%, #999 55%, transparent 55%, transparent);
}

.event p {
	line-height: 2.2;
	margin-bottom: 6px;
}

.event .base_btn {
	width: 36.274% /*370px/1020*/;
	margin: 0 auto 14px;
}

.variety .base_btn {
	width: 100%;
	margin: 0 auto 14px; 
}

section.news {
	margin-bottom: 7.843%; /*80/1020px*/;
}

.news ul {
	width: 62.254%; /*635px/1020*/;
	margin: 0 auto;
	list-style-type: none;
	text-align: left;
}

.news ul li {
	border-bottom: solid 1px #000;
	padding: 1.259% 0.787%;
	/* padding: 8px/635 5px; */
}

.news li a {
	text-decoration: none;
}

.news li a span {
	display: inline-block;
	margin-right: 20px;
	letter-spacing: .1em;
}

.news li a:link {
	color: #000;
}

.news li a:visited {
	color: rgb(120,10,10);
}

.news li a:hover {
	opacity: .6;
}

.hero {
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

a#scroll_d {
	font-family: 'Calibri','Helvetica','Avenir','Arial', sans-serif;
	position: absolute;
	bottom: 5.309%;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-decoration: none;
	padding-top: 70px;
}

a#scroll_d:link, a#scroll_d:visited, a#scroll_d:hover {
	color: #fff;
}

a#scroll_d span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 1.5s infinite;
	animation: sdb 1.5s infinite;
	box-sizing: border-box;
}

.sp_top, .sp_top .sp_top_logo {
	display: none;
}

/* About */

.about_top {
	/* margin-bottom: 80px; */
	margin-bottom: 7.843%;
}

.about-key-img {
	width: 100%;
	height: auto;
}

.credo {
	width: 32.549%;
	margin: 0 auto;
	height: auto;
}

section.about_text {
	width: 100%;
	line-height: 3;
	margin-bottom: 9.803%;/*100px/1020;*/
}

.service ul {
	list-style-type: none;
	width: 74.509%;/*760/1020px*/
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
  margin: 0 auto;
}

.service ul li {
	width: 48.684%; /*370/760*/
}

.service img {
	vertical-align: bottom;
}

.service .service_sale_img, .service .rent_space {
	margin-bottom: 0.98%;/*10px/1020;*/
}

h2.sub {
	font-size: 1.6em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 4.901%; /*50/1020px;*/
}

.dots {
	position: relative;
	width: 8px;
	height: 8px;
	background-color: #000;
	border-radius: 50%;
	margin: 0 auto 60px;
}

.dots::before {
	position: absolute;
	top: 0;
	left: -20px;
	width: 8px;
	height: 8px;
	content: "";
	display: block;
	background-color: #000;
	border-radius: 50%;
}

.dots::after {
	position: absolute;
	top: 0;
	right: -20px;
	width: 8px;
	height: 8px;
	content: "";
	display: block;
	background-color: #000;
	border-radius: 50%;	
}

.rent_space {
	position: relative;
	background-image: url("../img/rent.jpg");
	/* width: 370px;*/
	width: 100%;
	/* height: 240px; */
	padding-top: 64.864%;
}

section.service {
	margin-bottom: 7.843%; /*80/1020px*/;
}

/* PrivacyPolicy */

h1 span {
	font-size: .5em;
	display: block;
}

h1.sub {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	/* margin: 150px 0 100px; */
	padding-top: 10%;
	padding-bottom: 8.333%;
}

h2.term::before, h2.term::after{
	content:"";
	display:inline-block;
	width: 7.936%;/*50/630px;*/
	height:1px;
	margin: 0 20px;
	background-color: #333;
	vertical-align: middle;
}

h2.term {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}

.privacy_item, .privacy_item section {
	margin-bottom: 2em;
}

.privacy_item:last-child {
	margin-bottom: 5em;
}

.privacy_item h3 {
	text-align: center;
	margin-bottom: .6em;
}

.privacy_item p {
	line-height: 1.8;
}

.privacy_item ol {
	padding: .7em 1.5em;
}

.text_wrapper {
	width: 43.75% /*630/1440px*/;
	/* padding: 20px 110px; */
	padding: 3.174% 17.46%;
	margin: 0 auto;
}

.comp_sign {
	text-align: right;
}

@keyframes sdb {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@keyframes SlideInY {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.blur {
	display: table;
	overflow: hidden;
	margin: 0 auto;
  }

.blur img {
	margin : -10px;
}

@media(max-width:960px) {
	#top_header, #sub_header {
		display: none;
	}

	/* ハンバーガーメニュー */
	.menu_btn{
		display: none;
		position:fixed;
		top:8px;
		right: 8px;
		z-index: 9999;
		background:rgba(20,12,13,.85);
		cursor: pointer;
		width: 50px;
		height:50px;
		border-radius: 3px;
	}

	.menu_btn span{
		display: inline-block;
		transition: all .4s;
		position: absolute;
		left: 14px;
		height: 3px;
		background-color: #fff;
		width: 45%;
	}

	.menu_btn span:nth-of-type(1) {
		top:15px;	
	}
	.menu_btn span:nth-of-type(2) {
		top:23px;
	}
	.menu_btn span:nth-of-type(3) {
		top:31px;
	}

	.menu_btn.active {
		background: none;
		display: block;
		opacity: 0;
	}

	/*activeクラスが付与された後のボタンのアイコン設定*/
	.menu_btn.active span:nth-of-type(1) {
		top: 18px;
		left: 18px;
		transform: translateY(6px) rotate(-45deg);
		width: 30%;
	}

	.menu_btn.active span:nth-of-type(2) {
		opacity: 0;
	}

	.menu_btn.active span:nth-of-type(3){
		top: 30px;
		left: 18px;
		transform: translateY(-6px) rotate(45deg);
		width: 30%;
	}

	.fadeDown {
		animation: fadeDownAnime .8s forwards;
		opacity: 0;
		display: block;
	}

	@keyframes fadeDownAnime{
		from {
			opacity: 0;
			transform: translateY(-100px);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.sp_menu.panelactive{
		opacity: 1;
		z-index:99;
	}

	/*ナビゲーション*/
	.sp_menu ul {
		display: none;
		/*ナビゲーション天地中央揃え*/
		position: absolute;
		z-index: 999;
		top:50%;
		left:50%;
		transform: translate(-50%,-50%);
	}

	.sp_menu.panelactive ul {
		display: block;
	}

	/*リストのレイアウト設定*/
	.sp_menu li{
		list-style: none;
		text-align: center; 
	}

	.sp_menu li a{
		color: #333;
		text-decoration: none;
		padding:10px;
		display: block;
		text-transform: uppercase;
		letter-spacing: 0.1em;
		font-weight: bold;
		font-size: 1.4rem;
	}

	.sp_top {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 80vw;
		height: 85vh;
		border: 5px solid #fff;
		transform: translate(-50%, -50%);
		opacity: 0;
		/* スライダー画像より少し遅れて出す */
		animation: fade-text 10s .2s forwards;
		pointer-events: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.sp_top .sp_top_logo img{
		width: 100%;
		height: auto;
	}
	.sp_top .sp_top_logo {
		display: block;
		padding: 20%;
		position: relative;
		z-index: 100;
		opacity: 0;
		/* 画像と枠より少し遅れて出す */
		animation: fade-text 10s .8s forwards;
	}

	.slider li {
		background-position: 25% 50%;
	}

	a#scroll_d {
		opacity: 0;
		animation: fade-text 10s 2s forwards;
		bottom: 10%;
	}

	.concept .concept_text {
		display: none;
		width: 80%;
	}

	.concept .concept_text p {
		display: none;	
	}

  .scenes section {
		display: block;
	}

	.scene_img_box {
		width: 100%;
	}

	.scenes section .scene_text {
		width: 100%;
		padding: 0;
	}

	.scene_text h3 {
		margin-top: 2%;
		margin-bottom: 1.2%;
	}

	.scene_text h3 span {
		border-bottom: none;
	}
	
	.scene_text h3 span:after {
		display: none;
	}

	.scene_img .subtitle_bk {
		display: none;
	}

	.scene_img .subtitle_bk:after, .scene_img .subtitle_fr:after {
		/* 改行コードで改行できるようにする */
		white-space: pre-wrap;
		/* TODO: サイズによって崩れないか確認 */
		line-height: 2.8rem;
		text-align: left;
		left: 4%;
	}

	#scene_1 .subtitle_fr:after, #scene_1 .subtitle_bk:after {
		content: "Scene 1:\a As a gift";
	}
	
	#scene_2 .subtitle_fr:after, #scene_2 .subtitle_bk:after {
		content: "Scene 2:\a As a part of the art";
		left: 4%;
		right: 0;
	}
	
	#scene_3 .subtitle_fr:after, #scene_3 .subtitle_bk:after {
		content: "Scene 3:\a As an interior";
	}

	#var_text {
		margin-top: 7.843%; /*80/1020*/
		position: static;
		width: 100%;
	}

	.var_3 {
		display: none;
	}

  .service .service-item {
		margin-bottom: 2.4%;
	}

	.news ul {
		width: 100%;
	}

	.shop_info {
		display: block;
	}

	.shop_text {
		width: 100%;
	}

	.shop_text .address {
		display: none;
	}

	.biz_hour {
		text-align: center;
		margin-bottom: 2.75%;
	}

  .tel {
		color: #333;
		font-size: 1rem;
  }
  .with_shadow {
		width: 62.254%; /*635px/1020*/;
	}

	.variety .base_btn, .event .base_btn {
		width: 62.254%; /*635px/1020*/;
	}

	.scene_img .subtitle_bk:after, .scene_img .subtitle_fr:after {
		font-size: 3rem;
	}

	.scenes section .scene_text {
		padding-top: 2%;
	}

	.scene_text .formatted_text span {
		/* display: inline; */
	}

	.scene_text h3 span {
		font-size: 1.2rem;
	}

	.f_nav {
		display: none;
	}

	/* About */
	.service ul li {
		width: 100%;
	}

	.credo {
		width: 65%;
		margin: 0 auto;
	}

	/* Privacy Policy */
	.text_wrapper {
		width: 80% ;
		padding: 4.545% 10%;
		margin: 0 auto;
	}

	h2.term {
		font-size: 1.3em;
	}
}

@keyframes fadezoom {
  0% {
    transform: scale(1);
	filter: grayscale(40%) blur(8px);
  }
	25% {
		filter: grayscale(10%) blur(0px);
	}
	60% {
		filter: grayscale(0%) blur(0px);
	}
	100% {
    transform: scale(1.1);
  }
}

@keyframes fade-text {
	0% {
		opacity: 0;
	}
	30%, 100% {
		opacity: 1;
	}
  }

/* slick最初の一回のみ */
@keyframes coloring {
	0% {
		filter: grayscale(80%) blur(10px);
	}
	20% {
		filter: grayscale(60%) blur(5px);
	}
	48% {
		filter: grayscale(38%) blur(0px);
	}
	96% {
		filter: grayscale(0%) blur(0px);
	}
	100% {
		transform: scale(1.1);
	}
}